.background {
  fill: #eee;
  pointer-events: all;
}

.map-layer {
  fill: #fff;
  stroke: #0b2d46;
}

.effect-layer{
  pointer-events:none;
}

.effect-layer text, text.dummy-text{
  font-size: 12px;
}



@font-face {
  font-family: 'Century-Gothic-Regular';
  src: url(/static/font/CenturyGothicRegular.ttf);
}


@font-face {
  font-family: 'Century-Gothic-Bold';
  src: url(/static/font/CenturyGothicBold.ttf);
}


@font-face {
  font-family: 'AraHamah-regular';
  src: url(/static/font/Ara\ Hamah\ 1964\ R.otf);
}


@font-face {
  font-family: 'AraHamah-bold';
  src: url(/static/font/AraHamahAlThawra.ttf);
}
